.main{
  margin-left: 40px;
}
table{
  width:90%
}
#row_name{
  width:60px
}
#row_rent{
  width:60px
}
#row_address{
  width:200px
}
#row_age{
  width:40px
}
#row_remark{
  width:800px
}
#row_show{
  width:30px
}
#row_edit{
  width:30px
}
#row_destroy{
  width:30px
}
.stations_title{
  font-size: 7;
  font-weight: bolder;
}

.show_title{
  display:inline-block;
  font-size: 7;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 60px;
}

.show_station_index{
  display:inline-block;
  font-size: larger;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 15px;
}

.v_line_left {
  border-left: solid 1px black;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
}